body {
	background: #000;
}

svg {
	display: block;
	margin: 150px auto;
	background: #000;
	animation: 5s heart 10s linear infinite;
}


@keyframes heart {
	0% {
		transform: scale(1);
	}
	
	50% {
		transform: scale(0.5);
	}
	
	100% {
		transform: scale(1);
	}
}

